<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <h3>Upcoming Booking Notification</h3>

      <p>Dear {{userName}},</p>

      <p>We hope this email finds you well.</p>

      <p>We're excited to inform you that your upcoming cleaning service with
        <strong>{{companyName}}</strong>
        is just around the corner. Here are the details:</p>

      <p>Service Date: {{cleaningDate}}</p>
      <p>Service Duration: {{cleaningDuration}} hours</p>

      <p>
        <a href="{{companyWebsite}}/profile">View Booking Details</a>
      </p>

      <p>Glänsande Hem Städ<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101</p>
    </div>
  </body>
</html>