<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to {{companyName}}!</title>
  </head>
  <body>
    <h1>Welcome to {{companyName}}, {{userName}}!</h1>

    <p>We're thrilled to have you join our community!</p>

    <p>You're now officially a member of
      {{companyName}}, and we're excited to share all the amazing things we have
      to offer.</p>

    <p>Here are a few things you can do to get started:</p>

    <ul>
      <li>Explore our website or app to discover the features and benefits
        available to you.</li>
      <li>Update your profile to personalize your experience and make sure we
        have your most up-to-date information.</li>
      <li>Connect with other members in our community to share ideas,
        collaborate, and learn from each other.</li>
      <li>Reach out to our support team if you have any questions or need
        assistance.</li>
    </ul>

    <p>We're committed to providing you with the best possible experience, and
      we're always here to help you make the most of your membership.</p>

    <p>Thanks for joining us,
      {{userName}}! We're looking forward to seeing you around.</p>

    <p>Sincerely,<br />
      The
      {{companyName}}
      Team</p>
  </body>
</html>