<html>
  <body>
    <h3>Welcome to {{companyName}}, {{userName}}!</h3>

    <p>You have been successfully registered as a new user with email:
      {{userEmail}}.</p>

    <p>Here are your login credentials:</p>
    <ul>
      <li><code><strong>Email:</strong> {{userEmail}}</code></li>
      {{#if userPassword}}
        <li><code><strong>Password:</strong> {{userPassword}}</code></li>
      {{else}}
        <li><code><strong>Password:</strong>
            Your password which you used to signup!</code></li>
      {{/if}}
    </ul>

    <p>You're now officially a member of
      {{companyName}}, and we're excited to share all the amazing things we have
      to offer.</p>

    <p>Here are a few things you can do to get started:</p>

    <ul>
      <li>Explore our website or app to discover the features and benefits
        available to you.</li>
      <li>Update your profile to personalize your experience and make sure we
        have your most up-to-date information.</li>
      <li>Connect with other members in our community to share ideas,
        collaborate, and learn from each other.</li>
      <li>Reach out to our support team if you have any questions or need
        assistance.</li>
    </ul>

    <p>We're committed to providing you with the best possible experience, and
      we're always here to help you make the most of your membership.</p>

    <p>Thanks for joining us,
      {{userName}}! We're looking forward to seeing you around.</p>

    <p>Best regards,<br />The {{companyName}} Team</p>
  </body>
</html>