<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 20px;
      background-color: #f5f5f5; } h3 { color: #333; margin-bottom: 15px; } p {
      margin: 5px 0; line-height: 1.5; } a { color: #3aa99e; text-decoration:
      none; } a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>

    <div
      style="background-color: #020a38; width: 100%; height: 100px; text-align:center"
    >
      <img
        src="https://res.cloudinary.com/diar6ua4t/image/upload/v1711527040/header_dwuawy.png"
        alt="Glänsande Hem Footer Logo"
        height="100%"
      />
    </div>
    <div class="container">
      <h3>Upcoming Cleaning Reminder</h3>
      <p>Dear {{userName}},</p>
      <p>We would like to inform you that your Subscription about
        <strong>
          {{subscriptionFrequency}}
        </strong>
        and the upcoming Booking Date
        <strong>
          {{bookingDate}}
        </strong>
        & Time
        <strong>
          {{bookingStartTime}}
          -
          {{bookingEndTime}}
        </strong>
        is initially confirmed.</p>

      <p>If you wish to cancel this booking, please visit your
        <a href="{{cancelLink}}">profile page</a>
        and follow the cancellation process.</p>
      <div style="text-align: center;">
        <a
          href="{{cancelLink}}"
          style="display: inline-block; padding: 10px 20px; background-color: #dc3545; color: #fff; text-decoration: none; margin-top: 10px;"
        >Cancel Booking</a>
      </div>

      <p><strong>Note:</strong>
        If you want to reschedule your booking date, you can call
        <a href="tel:0761525840">0761525840</a>
        or email us at
        <a
          href="mailto:support@glansandehem.se"
        >support@glansandehem.se</a>.</p>
    </div>
    <footer style="background-color: #eee; padding: 10px; text-align: center;">
      <p>Glänsande Hem Städ<br />
        Org. No. 890114-4751<br />
        Holds F tax<br />
        VAT reg. No. SE890114475101</p>
    </footer>

    <div style="background-color: #020a38; width: 100%; height: 100px;"></div>
  </body>
</html>